<div class="login-container">
  <mat-card class="login-card">
    <h2>Şifre Sıfırla</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="email" placeholder="E-mail">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Doğrulama Kodu</mat-label>
      <input matInput [(ngModel)]="code" placeholder="Doğrulama Kodu">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Yeni Şifre</mat-label>
      <input matInput [(ngModel)]="newPassword" type="password">
    </mat-form-field>

    <button mat-raised-button class="custom-button" (click)="resetPassword()">
      Şifreyi Güncelle
    </button>
  </mat-card>
</div>