.login-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.login-card {
  width: 400px;
  padding: 25px;
  margin-top: -70px;
  background-color: #e3e9ef;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.forgot-link {
  margin-top: 15px;
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}