.charts-card {
  width: 1400px;
  max-width: 95%;
  margin: -35px auto;
  padding: 35px;
  border-radius: 12px;
}

.charts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts-header h2 {
  margin: 0;
}

.charts-description {
  text-align: center;
  margin: 25px 0;
  font-size: 16px;
}

.chart {
  width: 100%;
  height: 500px;
}

.empty-chart {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 18px;
}